<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Admin panel</title>
    <style>
        nav .nav-link {
            color: darkgrey;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-dark bg-dark">
    <div>
        <b class="text-white ms-3"><span th:text="${admen.email}"></span></b>
        <simple class="text-white">with roles:</simple>
        <simple class="text-white">
            <span th:text="${admen.roles}"></span>
        </simple>
    </div>
    <a class="nav-link" href="/logout">Logout</a>
</nav>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 p-0 mt-2">
            <ul class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <li class="nav-item">
                    <a class="nav-link active" id="v-pills-admin-tab" data-toggle="pill" href="#v-pills-admin" role="tab"
                       aria-controls="v-pills-admin" aria-selected="true">
                        <div sec:authorize="hasAuthority('ADMIN')">
                            Admin
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user">
                        <div sec:authorize="hasAnyAuthority('USER', 'ADMIN')">
                            User
                        </div>
                    </a>
                </li>
            </ul>
        </div>

        <div class="col-md-10 bg-light vh-100">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-admin" role="tabpanel" aria-labelledby="v-pills-admin-tab">
                    <div sec:authorize="hasAuthority('ADMIN')">
                        <h1 class="h1 ">Admin panel</h1>
                        <nav>
                            <div class="nav nav-tabs" id="nav-admin-tab" role="tablist">
                                <button class="nav-link active" id="nav-users-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-users" type="button" role="tab" aria-controls="nav-users" aria-selected="true">Users table</button>
                                <button class="nav-link" id="nav-new-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-new" type="button" role="tab" aria-controls="nav-new" aria-selected="false">New User</button>
                            </div>
                        </nav>
                        <div class="tab-content" id="nav-admin-tabContent">
                            <div class="tab-pane fade show active" id="nav-users" role="tabpanel" aria-labelledby="nav-users-tab">
                                <div class="card">
                                    <h5 class="card-header">All users</h5>
                                    <div class="card-body">
                                        <p class="card-text"></p>
                                        <div th:switch="${mans}">
                                            <h2 th:case="null">No users</h2>
                                            <div class="container-fluid" th:case="*">
                                                <table class="table table-striped">
                                                    <thead>
                                                    <tr>
                                                        <th scope="col">ID</th>
                                                        <th scope="col">Name</th>
                                                        <th scope="col">Surname</th>
                                                        <th scope="col">Age</th>
                                                        <th scope="col">Email</th>
                                                        <th scope="col">Roles</th>
                                                        <th scope="col">Edit</th>
                                                        <th scope="col">Delete</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr th:each="user : ${mans}">
                                                        <td th:text="${user.id}"></td>
                                                        <td th:text="${user.name}"></td>
                                                        <td th:text="${user.surname}"></td>
                                                        <td th:text="${user.age}"></td>
                                                        <td th:text="${user.email}"></td>
                                                        <td th:text="${user.roles}"></td>
                                                        <td>
                                                            <button type="button" class="btn btn-info"
                                                                    data-bs-toggle="modal"
                                                                    data-bs-target="#Um"
                                                                    th:attrappend="data-bs-target=${user.id}">
                                                                Edit
                                                            </button>

                                                            <div class="modal fade" id="Um" th:attrappend="id=${user.id}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                                                <div class="modal-dialog" role="document">
                                                                    <div class="modal-content ">
                                                                        <form th:method="PATCH" th:action="@{/edit/{id}(id=${user.getId()})}" th:object="${user}">
                                                                        <div class="modal-header">
                                                                            <h5 class="modal-title">Edit user</h5>
                                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                        </div>
                                                                        <div class="modal-body container w-50 text-center">
                                                                            <div class="form-group">
                                                                                <label th:for="id"><b>ID</b></label>
                                                                                <input type="text" class="form-control" th:value="*{id}" name="id" disabled>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label th:for="name"><b>First Name</b></label>
                                                                                <input type="text" class="form-control" th:value="*{name}" name="name" placeholder="Enter first name" required>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label th:for="surname"><b>Last Name</b></label>
                                                                                <input type="text" class="form-control" th:value="*{surname}" name="surname" placeholder="Enter last name" required>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label th:for="age"><b>Age</b></label>
                                                                                <input type="number" class="form-control" th:value="*{age}" name="age" step="1" min="0" placeholder="Enter age" required>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label th:for="email"><b>Email</b></label>
                                                                                <input type="text" class="form-control" th:value="*{email}" name="email" aria-describedby="emailInput" placeholder="Enter email" required>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label th:for="password"><b>Password</b></label>
                                                                                <input type="password" class="form-control" th:value="*{password}" name="password" placeholder="Password" required>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label th:for="roles"><b>Role</b></label>
                                                                                <select multiple class="form-control" th:value="*{roles}" name="roles" size="2" required>
                                                                                    <option th:each="r : ${userRoles}" th:value="${r.id}" th:text="${r.role}"></option>
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                                            <button type="submit" class="btn btn-primary">Edit</button>
                                                                        </div>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </td>
                                                        <td>
                                                            <button type="button" class="btn btn-danger"
                                                                    data-bs-toggle="modal"
                                                                    data-bs-target="#Ud"
                                                                    th:attrappend="data-bs-target=${user.id}">
                                                                Delete
                                                            </button>

                                                            <div class="modal fade" id="Ud" th:attrappend="id=${user.id}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                                                <div class="modal-dialog" role="document">
                                                                    <div class="modal-content ">
                                                                        <form th:method="DELETE" th:action="@{/delete/{id}(id=${user.getId()})}" th:object="${user}">
                                                                            <div class="modal-header">
                                                                                <h5 class="modal-title">Delete user</h5>
                                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                            </div>
                                                                            <div class="modal-body container w-50 text-center">
                                                                                <div class="form-group">
                                                                                    <label for="id"><b>ID</b></label>
                                                                                    <input type="text" class="form-control" id="id" th:value="*{id}" disabled>
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label th:for="name"><b>First Name</b></label>
                                                                                    <input type="text" class="form-control" th:value="*{name}" name="name" placeholder="Enter first name" disabled>
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label th:for="surname"><b>Last Name</b></label>
                                                                                    <input type="text" th:value="*{surname}" name="surname" class="form-control" placeholder="Enter last name" disabled>
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label th:for="age"><b>Age</b></label>
                                                                                    <input th:value="*{age}" name="age" type="number" step="1" min="0" class="form-control" placeholder="Enter age" disabled>
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label th:for="email"><b>Email</b></label>
                                                                                    <input type="text" th:value="*{email}" name="email" class="form-control" aria-describedby="emailInput" placeholder="Enter email" disabled>
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label th:for="roles"><b>Role</b></label>
                                                                                    <select multiple class="form-control" th:value="*{roles}" name="roles" size="2" disabled>
                                                                                        <option th:each="r : ${userRoles}" th:value="${r.id}" th:text="${r.role}">
                                                                                        </option>
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                            <div class="modal-footer">
                                                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                                                <button type="submit" class="btn btn-danger">Delete</button>
                                                                            </div>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>


                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-new" role="tabpanel" aria-labelledby="nav-new-tab">
                                <div class="card">
                                    <h5 class="card-header">Add new user</h5>
                                </div>
                                <div class="card-body bg-white text-center border">
                                    <form th:method="POST" th:action="@{/admin/create}" th:object="${emptyUser}">
                                        <div class="container w-25 needs-validation">
                                            <div class="mb-3">
                                                <label th:for="name" class="form-label"><b>First name</b></label>
                                                <input type="text" th:value="*{name}" class="form-control" name="name" placeholder="name" required>
                                            </div>
                                            <div class="mb-3">
                                                <label th:for="surname" class="form-label"><b>Last name</b></label>
                                                <input type="text" th:value="*{surname}" class="form-control" name="surname" placeholder="surname" required>
                                            </div>
                                            <div class="mb-3">
                                                <label th:for="age" class="form-label"><b>Age</b></label>
                                                <input type="number" step="1" min="0" th:value="*{age}" class="form-control" name="age" placeholder="age" required>
                                            </div>
                                            <div class="mb-3">
                                                <label th:for="email" class="form-label"><b>Email</b></label>
                                                <input type="text" th:value="*{email}" class="form-control" name="email" placeholder="email" required>
                                            </div>
                                            <div class="mb-3">
                                                <label th:for="password" class="form-label"><b>Password</b></label>
                                                <input type="text" th:value="*{password}" class="form-control" name="password" placeholder="password" required>
                                            </div>
                                            <div class="mb-3">
                                                <label th:for="roles"><b>Role</b></label>
                                                <select multiple class="form-control" th:value="*{roles}" name="roles" size="2" required>
                                                    <option th:each="r : ${userRoles}" th:value="${r.id}" th:text="${r.role}">
                                                    </option>
                                                </select>
                                            </div>
                                            <button type="submit" class="btn btn-success">Add new user</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>
